@font-face {
    font-family: 'NewBaskerville';
    src: url('NewBaskerville.woff2') format('woff2'),
        url('NewBaskerville.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

